In [3]:
import pandas as pd

In [4]:
dataset=pd.read_csv("preplacement.csv")
dataset

,Unnamed: 0,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,0,1.0,67.00,91.00,58.00,55.0,58.80,270000.0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,1,2.0,79.33,78.33,77.48,86.5,66.28,200000.0,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,2,3.0,65.00,68.00,64.00,75.0,57.80,250000.0,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,3,4.0,56.00,52.00,52.00,66.0,59.43,265000.0,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,4,5.0,85.80,73.60,73.30,96.8,55.50,390000.0,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,210,211.0,80.60,82.00,77.60,91.0,74.49,390000.0,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,211,212.0,58.00,60.00,72.00,74.0,53.62,275000.0,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,212,213.0,67.00,67.00,73.00,59.0,69.72,295000.0,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,213,214.0,74.00,66.00,58.00,70.0,60.23,204000.0,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,214,215.0,62.00,58.00,53.00,89.0,60.22,265000.0,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [5]:
dataset.drop(["sl_no","Unnamed: 0"],inplace=True,axis=1)
dataset

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,67.00,91.00,58.00,55.0,58.80,270000.0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,79.33,78.33,77.48,86.5,66.28,200000.0,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,65.00,68.00,64.00,75.0,57.80,250000.0,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,56.00,52.00,52.00,66.0,59.43,265000.0,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,85.80,73.60,73.30,96.8,55.50,390000.0,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,80.60,82.00,77.60,91.0,74.49,390000.0,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,58.00,60.00,72.00,74.0,53.62,275000.0,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,67.00,67.00,73.00,59.0,69.72,295000.0,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,74.00,66.00,58.00,70.0,60.23,204000.0,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,62.00,58.00,53.00,89.0,60.22,265000.0,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR,status_Placed
0,67.00,91.00,58.00,55.0,58.80,270000.0,1,1,1,1,0,0,1,0,1,1
1,79.33,78.33,77.48,86.5,66.28,200000.0,1,0,1,0,1,0,1,1,0,1
2,65.00,68.00,64.00,75.0,57.80,250000.0,1,0,0,0,0,0,0,0,0,1
3,56.00,52.00,52.00,66.0,59.43,265000.0,1,0,0,0,1,0,1,0,1,0
4,85.80,73.60,73.30,96.8,55.50,390000.0,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,80.60,82.00,77.60,91.0,74.49,390000.0,1,1,1,1,0,0,0,0,0,1
211,58.00,60.00,72.00,74.0,53.62,275000.0,1,1,1,0,1,0,1,0,0,1
212,67.00,67.00,73.00,59.0,69.72,295000.0,1,1,1,1,0,0,0,1,0,1
213,74.00,66.00,58.00,70.0,60.23,204000.0,0,1,1,1,0,0,0,0,1,1
214,62.00,58.00,53.00,89.0,60.22,265000.0,1,0,1,0,1,0,0,0,1,0

In [7]:
dataset.columns

Index(['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary', 'gender_M',
       'ssc_b_Others', 'hsc_b_Others', 'hsc_s_Commerce', 'hsc_s_Science',
       'degree_t_Others', 'degree_t_Sci&Tech', 'workex_Yes',
       'specialisation_Mkt&HR', 'status_Placed'],
      dtype='object')

In [8]:
independent=dataset[['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p','gender_M',
       'ssc_b_Others', 'hsc_b_Others', 'hsc_s_Commerce', 'hsc_s_Science',
       'degree_t_Others', 'degree_t_Sci&Tech', 'workex_Yes',
       'specialisation_Mkt&HR', 'status_Placed']]
independent

,ssc_p,hsc_p,degree_p,etest_p,mba_p,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR,status_Placed
0,67.00,91.00,58.00,55.0,58.80,1,1,1,1,0,0,1,0,1,1
1,79.33,78.33,77.48,86.5,66.28,1,0,1,0,1,0,1,1,0,1
2,65.00,68.00,64.00,75.0,57.80,1,0,0,0,0,0,0,0,0,1
3,56.00,52.00,52.00,66.0,59.43,1,0,0,0,1,0,1,0,1,0
4,85.80,73.60,73.30,96.8,55.50,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,80.60,82.00,77.60,91.0,74.49,1,1,1,1,0,0,0,0,0,1
211,58.00,60.00,72.00,74.0,53.62,1,1,1,0,1,0,1,0,0,1
212,67.00,67.00,73.00,59.0,69.72,1,1,1,1,0,0,0,1,0,1
213,74.00,66.00,58.00,70.0,60.23,0,1,1,1,0,0,0,0,1,1
214,62.00,58.00,53.00,89.0,60.22,1,0,1,0,1,0,0,0,1,0

In [9]:
dependent=dataset[['salary']]
dependent

       salary
0    270000.0
1    200000.0
2    250000.0
3    265000.0
4    390000.0
..        ...
210  390000.0
211  275000.0
212  295000.0
213  204000.0
214  265000.0

[215 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [12]:
x_test

array([[ 3.57682064e-02,  3.66175523e-01, -1.04097138e-01,
         1.17296417e+00,  1.68778774e+00, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01,  3.95811403e+00, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00, -1.45773797e+00],
       [ 1.21321465e+00,  9.24114764e-01, -2.26156419e-02,
        -1.07333816e+00, -1.08428595e+00, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [ 1.70381734e+00,  8.31124890e-01,  4.39112835e-01,
        -7.73831185e-01,  7.39667936e-02, -1.45773797e+00,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
         1.39326109e+00,  1.08347268e+00,  6.85994341e-01],
       [-1.82852200e+00, -1.40063207e+00, -1.05471459e+00,
        -9.23584673e-01, -5.26172872e-01, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00,  1.08347268e+00, -1.45773797e+00],
       [ 1.31133519e+00,  1.29607426e+00,  8.46520314e-01,
        -6.39801812e-01,  6.92598158e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [-7.49196090e-01, -3.77743464e-01,  1.59343403e+00,
         1.24689746e-01,  8.53980253e-01, -1.45773797e+00,
        -8.98459190e-01,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00, -1.45773797e+00],
       [ 9.18853040e-01,  3.66175523e-01,  1.38973029e+00,
        -4.74324208e-01,  4.23628000e-01, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [ 3.57682064e-02, -2.84753590e-01,  8.46520314e-01,
        -1.22309165e+00, -2.53840587e-01,  6.85994341e-01,
         1.11301661e+00, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [-1.14167824e+00, -1.51221992e+00,  2.01458472e-01,
        -1.29796839e+00, -1.73821965e+00,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
         1.39326109e+00, -9.22958207e-01, -1.45773797e+00],
       [ 1.70381734e+00,  1.20308438e+00,  3.03310342e-01,
         8.73457189e-01,  8.01867285e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [-6.11827338e-01,  5.00099539e-02, -1.04097138e-01,
        -9.99404864e-02, -1.54825947e+00,  6.85994341e-01,
        -8.98459190e-01,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [ 2.23366824e+00, -3.74005271e-02,  7.44668444e-01,
        -2.50637422e-02,  2.20219317e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [ 1.99817895e+00,  7.38135017e-01, -1.04097138e-01,
         1.99566491e-01,  1.74326284e+00,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
         1.39326109e+00,  1.08347268e+00,  6.85994341e-01],
       [-8.47316627e-01, -4.70733337e-01, -6.47307110e-01,
        -1.07333816e+00, -1.34148867e+00,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [-9.84685379e-01, -1.17371818e-01,  6.02075827e-01,
         8.93673910e-01,  8.87601523e-01,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [-1.07495627e+00, -4.40046679e-01, -1.20817141e+00,
        -4.74324208e-01, -6.08544983e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [ 1.21321465e+00, -4.70733337e-01,  1.32182904e+00,
        -1.74817231e-01,  1.05570787e+00, -1.45773797e+00,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [-1.92664253e+00, -1.02867258e+00, -1.04097138e-01,
        -7.73831185e-01,  5.24491809e-01, -1.45773797e+00,
        -8.98459190e-01,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00, -1.45773797e+00],
       [-1.73040146e+00, -6.56713084e-01, -1.04097138e-01,
         1.02321068e+00,  9.41395555e-02,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [ 3.57682064e-02, -2.84753590e-01, -2.39899631e-01,
        -9.23584673e-01, -8.40531745e-03,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
        -7.17740563e-01, -9.22958207e-01, -1.45773797e+00],
       [-6.55000374e-01, -2.16779853e+00, -6.11998462e-01,
        -1.33690430e+00,  5.98458603e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
        -7.17740563e-01,  1.08347268e+00, -1.45773797e+00],
       [-6.23523306e-02, -1.91763717e-01, -7.83109604e-01,
        -9.23584673e-01, -3.36212698e-03,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00, -1.45773797e+00],
       [-4.54834479e-01,  5.52155270e-01, -1.04097138e-01,
        -3.99447463e-01, -9.12817475e-01,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [-2.58593405e-01,  3.84773498e-01, -6.47307110e-01,
        -1.67235212e+00,  9.75016824e-02, -1.45773797e+00,
         1.11301661e+00, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01, -1.45773797e+00],
       [-1.43603985e+00, -1.49362194e+00, -6.47307110e-01,
        -9.23584673e-01, -5.71561587e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01, -1.45773797e+00],
       [-3.56713942e-01, -5.78397012e-03, -2.39899631e-01,
        -3.24570719e-01,  3.63109714e-01, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00, -1.45773797e+00],
       [ 2.09629948e+00,  5.52155270e-01,  1.66133527e+00,
         7.23703700e-01,  1.59869138e+00, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00, -1.05483461e+00,
         1.15920231e+00,  3.95811403e+00, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [-1.60472868e-01,  8.31124890e-01,  4.39112835e-01,
        -2.50637422e-02,  4.60611396e-01, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [-4.54834479e-01, -2.84753590e-01, -2.39899631e-01,
        -3.99447463e-01, -8.22040047e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [ 8.20732503e-01,  3.93142587e-01,  7.10717821e-01,
         1.69710138e+00,  8.43893872e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [ 1.50757626e+00, -1.91763717e-01,  3.17053554e-02,
        -3.99447463e-01,  3.69833968e-02,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [-5.52955016e-01,  3.66175523e-01, -2.39899631e-01,
        -2.87132347e-01, -4.06817365e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00, -1.45773797e+00],
       [ 1.08271434e+00, -1.09002730e-01,  6.65902998e-01,
         1.24784091e+00, -2.57202714e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [ 3.79190086e-01, -3.31248527e-01, -6.47307110e-01,
         1.61548572e+00,  1.19523614e+00, -1.45773797e+00,
        -8.98459190e-01,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01, -1.45773797e+00],
       [-1.92664253e+00, -6.56713084e-01, -2.39899631e-01,
         4.24196723e-01, -5.71561587e-02, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00, -1.05483461e+00,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01, -1.45773797e+00],
       [ 7.42236073e-01,  2.00279729e+00,  1.55948340e+00,
         2.14541839e-01,  6.95960285e-01,  6.85994341e-01,
        -8.98459190e-01,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [ 1.99817895e+00, -9.87738435e-02,  2.06874275e+00,
         1.17296417e+00,  1.82563495e+00, -1.45773797e+00,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [-1.33791931e+00, -2.84753590e-01, -7.83109604e-01,
        -1.74817231e-01, -1.46588736e+00,  6.85994341e-01,
        -8.98459190e-01,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [ 1.80193787e+00,  2.22597299e+00,  2.20454525e+00,
         1.47247114e+00,  1.02712979e+00, -1.45773797e+00,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [-8.47316627e-01, -5.63723210e-01,  8.46520314e-01,
         1.24689746e-01, -1.39528270e+00,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [-5.45105373e-01, -1.49362194e+00, -1.59792456e+00,
        -9.99404864e-02,  6.33760936e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
        -7.17740563e-01, -9.22958207e-01, -1.45773797e+00],
       [-4.54834479e-01, -5.33036552e-01, -2.11381107e-01,
        -6.98954440e-01, -3.19402063e-01,  6.85994341e-01,
        -8.98459190e-01,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
        -7.17740563e-01,  1.08347268e+00, -1.45773797e+00],
       [ 1.01697358e+00,  3.66175523e-01, -9.18912097e-01,
        -1.07333816e+00, -1.25911655e+00,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [-3.56713942e-01,  1.28140045e-02, -2.26156419e-02,
        -9.23584673e-01,  1.04225936e-01,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [ 5.26370892e-01, -9.35682704e-01,  4.39112835e-01,
        -1.25304235e+00,  6.23674555e-01, -1.45773797e+00,
        -8.98459190e-01,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [-1.32920621e-02,  6.86079286e-02,  4.79853583e-01,
         6.03900909e-01,  1.52640565e+00, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00, -1.05483461e+00,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [ 3.10505710e-01, -4.89331312e-01,  8.77754888e-01,
        -1.25828372e+00,  1.15825274e+00, -1.45773797e+00,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [ 2.32009281e-01, -3.77743464e-01,  4.39112835e-01,
        -3.99447463e-01,  7.22857301e-02, -1.45773797e+00,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00,  1.08347268e+00,  6.85994341e-01],
       [ 9.18853040e-01, -1.91763717e-01,  8.46520314e-01,
        -1.07333816e+00,  7.74970269e-01, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
        -7.17740563e-01,  1.08347268e+00, -1.45773797e+00],
       [-1.32920621e-02,  4.03371473e-01,  8.37014140e-01,
        -8.48707929e-01,  3.95049920e-01, -1.45773797e+00,
         1.11301661e+00, -1.25944706e+00, -1.05483461e+00,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [ 1.88043430e+00,  7.00939067e-01,  1.02306356e+00,
         1.83187952e+00, -1.07924276e+00,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [-5.52955016e-01,  1.48205400e+00,  4.39112835e-01,
         8.73457189e-01, -6.06863920e-01,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [ 1.69989251e+00, -1.21465232e+00,  3.08726145e+00,
        -9.74500859e-01,  1.30954846e+00, -1.45773797e+00,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [ 1.01697358e+00,  6.45145143e-01,  2.06874275e+00,
         1.24784091e+00,  1.30786740e+00, -1.45773797e+00,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [ 1.50757626e+00, -1.91763717e-01,  9.82322807e-01,
         1.77197812e+00,  1.65584754e+00, -1.45773797e+00,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01,  1.63050194e+00,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [-2.52615902e+00, -1.88138972e+00, -1.73372706e+00,
        -8.49651376e-02,  6.00139666e-01, -1.45773797e+00,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00, -1.45773797e+00],
       [ 1.60569680e+00,  7.38135017e-01,  3.17053554e-02,
        -2.55684114e-01, -5.81647968e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01, -1.05483461e+00,
         1.15920231e+00, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01,  1.08347268e+00,  6.85994341e-01],
       [ 4.28250355e-01,  1.20308438e+00,  3.17053554e-02,
         1.62222463e+00, -7.34624745e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [ 1.72344144e+00,  6.82341093e-01,  1.52569574e-01,
        -8.03781882e-01,  9.41395555e-02,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [-1.47823168e+00,  7.99508333e-01, -7.96689853e-01,
        -1.21186014e+00,  6.84192841e-01,  6.85994341e-01,
         1.11301661e+00,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00,  1.08347268e+00, -1.45773797e+00],
       [-1.32920621e-02, -3.31248527e-01, -6.60887360e-01,
         1.57729858e+00, -1.15825274e+00,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [ 6.24491429e-01,  1.20308438e+00,  8.46520314e-01,
         1.42305249e+00, -1.05907000e-01,  6.85994341e-01,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [ 1.11509411e+00,  1.01710464e+00,  1.93294026e+00,
        -9.23584673e-01,  8.06910475e-01, -1.45773797e+00,
        -8.98459190e-01,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01],
       [ 9.87537416e-01,  2.19807603e+00,  3.17053554e-02,
         1.32271765e+00,  1.11454509e+00,  6.85994341e-01,
        -8.98459190e-01,  7.93999233e-01,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
         1.39326109e+00, -9.22958207e-01,  6.85994341e-01],
       [ 1.01697358e+00,  1.94700337e+00, -9.18912097e-01,
        -3.24570719e-01,  1.12799360e+00, -1.45773797e+00,
        -8.98459190e-01, -1.25944706e+00,  9.48015916e-01,
        -8.62662186e-01, -2.52645576e-01, -6.13308070e-01,
        -7.17740563e-01, -9.22958207e-01,  6.85994341e-01]])

In [13]:
from sklearn.svm import SVR

In [14]:
regressor=SVR(kernel="rbf",C=3000)

In [15]:
regressor.fit(x_train,y_train)

C:\Users\Admin\anaconda3\envs\AIcoures\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=3000)

In [16]:
regressor.intercept_

array([266171.47570069])

In [17]:
regressor.n_support_

array([150])

In [18]:
regressor.support_

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149])

In [26]:
y_pred=regressor.predict(x_test)
y_pred=y_pred.reshape(65,1)

In [27]:
y_test

       salary
198  265000.0
37   320000.0
89   210000.0
168  265000.0
171  290000.0
..        ...
157  300000.0
8    231000.0
40   287000.0
129  250000.0
13   218000.0

[65 rows x 1 columns]

In [28]:
residuals = y_test - y_pred
residuals

           salary
198  -1269.203304
37   62118.261982
89  -53860.482181
168    540.915914
171  17327.775035
..            ...
157  32155.647757
8   -42147.067843
40   21589.533067
129 -26366.623767
13  -49822.800234

[65 rows x 1 columns]

In [31]:
import numpy as np
rss = np.sum(residuals**2)
rss

salary    1.017036e+11
dtype: float64

In [32]:
print("Residual Sum of Squares (RSS):", rss)

Residual Sum of Squares (RSS): salary    1.017036e+11
dtype: float64